body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #dfd3c3;
  font-size: x-large;
}

main {
  display: grid;
  grid-template-areas:
    "header header header"
    "nav nav nav"
    "article article img"
    "aside section section"
    "footer footer footer";
  grid-template-rows: 10vh 15vh 45vh;
}

header {
  grid-area: header;
  background-color: #dfd3c3;
  text-align: center;
}

nav {
  grid-area: nav;
  background-color: #c7b198;
  text-align: center;
}

article {
  grid-area: article;
  background-color: #c7b198;
  border: 1px solid #596e79;
  text-align: center;
  padding: 5%;
}

aside {
  grid-area: aside;
  background-color: #c7b198;
  padding: 5%;
  border: 1px solid #596e79;
}

section {
  grid-area: section;
  background-color: #c7b198;
  padding: 5%;
  border: 1px solid #596e79;
}

footer {
  grid-area: footer;
  background-color: #c7b198;
  text-align: center;
}

#img {
  grid-area: img;
}

img {
  border: 1px solid #0a0a0a;
  border-radius: 20%;
  padding: 10px;
  width: 750px;
  height: 375px;
}
nav > ol {
  list-style-type: none;
}



